@page "/Course/{ID:guid}"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _context

<h1>Details</h1>

@if (course != null)
{
    <div>
        <a href="Edit/@course.Id">Edit</a>
    </div>

    <div>
        <h4>Course</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@course.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@course.Description</dd>
            <dt class="col-sm-2">Fee</dt>
            <dd class="col-sm-10">@course.Fee</dd>
        </dl>
    </div>

    <h2>Students</h2>
    <div>
        @foreach (IdentityUser user in Users)
        {
            <div>
                @user.Email
            </div>
        }
    </div>
}

@code {
    private Course? course = new Course();
    protected List<IdentityUser> Users { get; set; } = [];

    [Parameter]
    public Guid ID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        course = await _context.Courses.FirstOrDefaultAsync(m => m.Id == ID);

        if (course != null)
        {
            List<CourseUser> courseUsers = _context.CourseUsers.Where(key => key.CourseId == ID).ToList();

            Users = courseUsers.Select(key => key.User).ToList();
        }
    }
}
